body {
  padding: 0;
  margin: 0;
  font-family: Arial;
  text-align: center;
}

#logo {
  width: 150px;
}

#nav ul {
  /* margin: 0; */
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: start;
}

#nav li {
  margin-left: 20px;
}

a:link { 
  text-decoration: none;
  color: darkslategrey;
}



/* h1 {
  background-color: #666565;
  color: white;
  box-shadow: 5px 5px rgb(236, 229, 229);
  margin: 0;
  padding: 10px;
  font-weight: lighter;
  font-size: 3rem;
} */

.paragraphsDiv {
  padding: 20px;
}